@charset "UTF-8";

body
{
    text-align: center;
    background: -moz-linear-gradient(0deg, rgb(15, 72, 228), rgb(2,187,243), rgb(115, 235, 229));
    color: black;
    font-size: 12pt;
    font-family: Arial;
    
    
    
}

a {
    text-decoration: none;
    
}






